{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section id="intro">
    <div class="home-carousel no-mb no-padding" style="background: none !important;">
        <div class="homepage owl-carousel"
             data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
             data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
             data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
            
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item" style="background: url('{{ .image | absURL }}') center center no-repeat; background-size: cover; width: 100vh;">
                </div>
            {{ end }}
        </div>
    </div>
</section>

<style>
#intro {
    position: relative;
    width: 100%;
    padding: 0 !important;
    z-index: 1;
    overflow: hidden;
}


@media (min-width: 768px) {

    #intro {
        height: 100vh;
    }

    .home-carousel, 
    .home-carousel .owl-carousel, 
    .home-carousel .owl-stage-wrapper, 
    .home-carousel .owl-stage, 
    .home-carousel .owl-item, 
    .home-carousel .item {
        height: 100vh !important;
    }

    .item {
        background-size: cover;
        background-position: center bottom;
    }
}

@media (max-width: 767px) {

    #intro {
        height: auto !important;
    }

    .home-carousel,
    .home-carousel .owl-carousel,
    .home-carousel .owl-stage-wrapper,
    .home-carousel .owl-stage,
    .home-carousel .owl-item,
    .home-carousel .item {
        height: auto !important;
    }

    .item {
        background-size: contain;
        background-position: center;
    }
}

.home-carousel .dark-mask {
    display: none !important;
}

.owl-theme .owl-controls {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 10;
}

.owl-theme .owl-controls .owl-page span {
    background: #ffffff !important;
}

#content, .homepage {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
</style>
{{ end }}
{{ end }}
{{ end }}