{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section id="intro">
    <div class="home-carousel no-mb no-padding" style="background: none !important;">
        <div class="homepage owl-carousel"
             data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
             data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
             data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
            
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item" style="background: url('{{ .image | absURL }}') center center no-repeat; background-size: cover; width: 100vh;">
                </div>
            {{ end }}
        </div>
    </div>
</section>

<style>
#intro {
    position: relative;
    width: 100%;
    margin-top: -130px !important;
    padding: 0 !important;
    z-index: 1;
    overflow: hidden;
}

.home-carousel .dark-mask {
    display: none !important;
}

.item {
    width: 100%;
    height: calc(100vh + 130px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.owl-theme .owl-controls {
    position: absolute;
    bottom: 150px;
    width: 100%;
    z-index: 10;
}

.owl-theme .owl-controls .owl-page span {
    background: #ffffff !important;
}
</style>
{{ end }}
{{ end }}
{{ end }}