<style>
	.core-rocket-chan{
		background-color: #ffffff;
		color: #303030;
        width: 100%;
	}

	.core-rocket-chan img{
		width:90%;
		height:auto;
	}

    @media (max-width: 768px) {
        .core-rocket-chan h2 {
            font-size: 20pt;
        }      
    }
</style>

<section class="bar no-mb no-padding core-rocket-chan">
    <div class="container">
        <div class="col-12 ">
			<q style="color: #da4d4d; font-size: 10pt;">CORE-Rocket-chan</q>
			<div class="heading text-left"><h2>COREロケットちゃん</h2></div><br>
            <div style="text-align: center;">
                <a href="https://core-rocketchan.jimdofree.com/">
                    <picture>
                        <source srcset="/img/coreroke/coreroke_post_6.webp" style="margin-left: auto; margin-right: auto;" loading="lazy" media="(prefers-color-scheme: dark)">
                        <img src="/img/coreroke/coreroke_post_5.webp"  style="margin-left: auto; margin-right: auto;" loading="lazy">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</section>