<style>
    .fot_col{
        padding: 20px;
        border-right:1px solid rgba(255,255,255,0.2);
        margin-left: 10px;
    }
    .logo_l {
        padding: 40px;
        border-left:1px solid rgba(255,255,255,0.2);
        border-right:1px solid rgba(255,255,255,0.2);
    }

    .logo_l img{
        max-height: 200px;
    }

    @media  (max-width: 992px) {
        .logo_l img{
            display:block;
            margin:0 auto;
            height:200px;
        }

    }

    @media (max-width:768px){

    .logo_l{
    text-align:center;
    border:none;
    padding:30px 10px;
    }

    .logo_l img{
    display:block;
    margin:0 auto;
    height:200px;
    }

    .fot_col{
    border:none;
    margin-left:0;
    padding:20px 10px;
    }

    #footer .container > div{
    margin-bottom:20px;
    }

    }
</style>

<footer id="footer">
    <div class="container">
        <div class="col-md-3 logo_l">
            <a href=""><img src="/img/CORE_logo_wh.png" alt="COREロゴ" style="max-width: 100%; height: auto;" ></a>
            <br><h2><span style="font-size: 10pt;">Challengers of Rocket Engineering</span></h2>
        </div>
        <div class="col-md-3 fot_col">
        <a href="/about"><h4>団体について</h4></a>
        <ul>
        <li><a href="/activity/2025">2025</a></li>
        <li><a href="/activity/1">2026</a></li>
        </ul>
        <div style="margin-top: 40px;"></div>
        <a href="/rocket"><h4>ロケット</h4></a>
        <ul>
        <li><a href="/rocket/#structure">構造班</a></li>
        <li><a href="/rocket/#avionics">電装班</a></li>
        <li><a href="/rocket/#engine">エンジン班</a></li>
        <li><a href="/rocket/#fire">燃焼班</a></li>
        <li><a href="/rocket/#sim">sim班</a></li>
        </ul>
        <div style="margin-top: 40px;"></div>
        <a href="/history"><h4>COREの機体</h4></a>
        </div>

        <div class="col-md-3 fot_col">
        <a href="/blog"><h4>ブログ</h4></a>
        <div style="margin-top: 40px;"></div>
        <a href="/sponsor"><h4>協賛・協力</h4></a>
        <ul>
        <li><a href="/sponsor">スポンサー一覧</a></li>
        <li><a href="/sponsor_2">協賛募集</a></li>
        </ul>
        <div style="margin-top: 40px;"></div>
        <a href="/contact"><h4>お問い合わせ</h4></a>
        <div style="margin-top: 40px;"></div>
        <h4>その他</h4>
        <ul>
        <li><a href="/privacy">プライバシーポリシー</a></li>
        </ul>
        </div>

        <div class="col-md-2 fot_col">
            <h4>外部リンク</h4>
            <ul>
            <li><a href="https://noshiro-space-event.org/">能代宇宙イベント</a></li>
            <li><a href="https://izuoshimarocket.wixsite.com/izuoshimarocket">伊豆大島共同打上実験</a></li>
            </ul>
            <div style="margin-top: 40px;"></div>
            © {{ now.Year }} CORE. <br>All rights reserved.
        </div>
    </div>
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
            <p class="pull-right">
              {{ i18n "templateBy" | markdownify }} <a href="https://bootstrapious.com/p/universal-business-e-commerce-template">Bootstrapious</a>.
              <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->

              {{ i18n "portedBy" | markdownify }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>.
            </p>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->