<style>
    .sns{
        background-image: url(img/fig_1.jpg);
        background-size: cover;
        background-position: center;

        text-align: center;
        color: #ffffff;
        font-weight: 600;
    }
    .space{
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .space1{
        margin-top: 240px;
        margin-bottom: 40px;
    }
    .yt{
        margin-top: -20px;
    }
    .img-overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.7)
        );
    }
    .hr1{
        height: 2px;
        background-color: #ffffff;
        width: 1100px;
        margin-top: 30px;
        margin-bottom: 90px;
    }
</style>

<section class="bar no-mb no-padding split-section sns">
    <div class="img-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: left; font-size: 45pt; color: #ffffff;">SNSは<br>こちらから</h2>
            </div>
            <div class="space1"></div>
            <div class="col-md-4">
                <br>
                <h2 style="font-size: 25pt; color: #ffffff;"><span style="text-decoration: underline #da4d4d; font-size: 35pt;">"新歓"</span>&nbsp;アカウント</h2>
            </div>
            <div class="col-md-4" x_log>
                <a href="https://x.com/CORE_Rocket">
                    <img src="img/sns/x_w.png" width="80px">
                </a><br>
                <br><q>@CORE_Rocket</q>
            </div>
            <div class="col-md-4">
                <a href="https://www.instagram.com/core_rocket">
                    <img src="img/sns/insta.png" width="80px">
                </a><br>
                <br><q>core_rocket</q>
            </div>
        </div>
        <div class="col-md-12"><hr class="hr1"></div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4">
                <br>
                <h2 style="font-size: 25pt; color: #ffffff;">通常アカウント</h2>
            </div>
            <div class="col-md-2" x_log>
                <a href="https://x.com/CORE_Rocket">
                    <img src="img/sns/x_w.png" width="80px">
                </a><br>
                <br><q>@CORE_Rocket</q>
            </div>
            <div class="col-md-2">
                <a href="https://www.instagram.com/core_rocket">
                    <img src="img/sns/insta.png" width="80px">
                </a><br>
                <br><q>core_rocket</q>
            </div>
            <div class="col-md-2 yt">
                <a href="https://www.youtube.com/@corerockets">
                    <img src="img/sns/yt.png" width="130px">
                </a>
                <br><q>@corerockets</q>
            </div>
            <div class="col-md-2">
                <a href="https://lin.ee/ygiruVC">
                    <img src="img/sns/line.png" width="80px">
                </a><br>
                <br><q>@217rvskv</q>
            </div>
        </div>
        <div class="col-md-12"><hr class="hr1"></div>
    </div>
</section>