<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "welcome.html" . }}
        
        {{ partial "aboutus.html" . }}

        {{ partial "aboutrocket.html" . }}

        {{ partial "sns.html" . }}
                
        {{ partial "core-rocket-chan.html" . }}

        {{ partial "notice.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
